.flexDisplayColumn {
  display: flex;
  flex-direction: column;
}

.flexDisplayRow {
  display: flex;
}

.flexDisplayRowAlign {
  display: flex;
  align-items: center;
}

.flexFit {
  flex: 1 1 0;
  min-width: 0;
  overflow: hidden;
  word-wrap: break-word;
}

.flexGrowOne {
  flex-grow: 1;
}

// Different column widths for various screen sizes.
@media screen
and (min-width: 1450px) {
  .navigationColumn {
    width: 10%
  }
  .homeColumn {
    width: 95%
  }
  .contentColumn {
    width: 75%
  }
  .relatedColumn {
    width: 20%
  }
}

@media screen
and (max-width: 1450px)
and (min-width: 1150px) {
  .navigationColumn {
    width: 10%
  }
  .homeColumn {
    width: 90%
  }
  .contentColumn {
    width: 65%
  }
  .relatedColumn {
    width: 25%
  }
}

@media screen
and (max-width: 1150px) {
  .navigationColumn {
    width: 15%
  }
  .homeColumn {
    width: 85%
  }
  .contentColumn {
    width: 55%
  }
  .relatedColumn {
    width: 30%
  }
}
