html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}


.flexDisplayColumn {
  display: flex;
  flex-direction: column;
}

.flexDisplayRow {
  display: flex;
}

.flexDisplayRowAlign {
  display: flex;
  align-items: center;
}

.flexFit {
  flex: 1 1 0;
  min-width: 0;
  overflow: hidden;
  word-wrap: break-word;
}

.flexGrowOne {
  flex-grow: 1;
}

.leftBorder {
  border-left: solid 1px lightgray;
}

.overflowHidden {
  overflow: hidden
}

.List {
  background-color: lightgray
}

.ListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px lightgray;
  font-size: 21px;
  cursor: pointer;
  &:hover {
    background-color: azure
  }
}

.tileSelectedMarker {
  background-color: lightgray;
}

// .ListItemEven {
//   background-color: #f8f8f0;
// }

.navigationColumn {
  background-color: lightgray;
}
.relatedColumn {
  background-color: lightgray;

}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

// Different column widths for various screen sizes.
@media screen
and (min-width: 1450px) {
  .blankLeftColumn{
    width: 10%
  }

  .navigationColumn {
    width: 10%
  }

  .headerBar {
    width: 80%
  }
  .homeColumn {
    width: 55%
  }
  .contentColumn {
    width: 55%
  }

  .relatedColumn {
    width: 15%
  }
  .homeRightColumn {
    width: 15%
  }

  .blankRightColumn{
    width: 10%
  }
}

@media screen
and (max-width: 1450px)
and (min-width: 1150px) {
  .blankLeftColumn{
    width: 10%
  }

  .navigationColumn {
    width: 10%
  }

  .headerBar {
    width: 85%
  }
  .homeColumn {
    width: 60%
  }
  .contentColumn {
    width: 60%
  }

  .relatedColumn {
    width: 15%
  }
  .homeRightColumn {
    width: 15%
  }

  .blankRightColumn{
    width: 5%
  }
}

// @media screen
// and (min-width: 641px) and (max-width: 1150px) {
//   .navigationColumn {
//     width: 15%
//   }
//   .homeColumn {
//     width: 65%
//   }
//   .homeRightColumn {
//     width: 20%
//   }
//   .contentColumn {
//     width: 65%
//   }
//   .relatedColumn {
//     width: 30%
//   }
// }

// @media screen and (min-width: 481px) {
// }
//
// @media screen and (min-width: 321px) and (max-width: 480px) {
// }

@media screen and (max-width: 1150px) {
// @media screen and (max-width: 640px) {
  .homeColumn {
    width: 100%
  }
}
