html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}


.flexDisplayColumn {
  display: flex;
  flex-direction: column;
}

.flexDisplayRow {
  display: flex;
}

.flexDisplayRowAlign {
  display: flex;
  align-items: center;
}

.flexFit {
  flex: 1 1 0;
  min-width: 0;
  overflow: hidden;
  word-wrap: break-word;
}

.flexGrowOne {
  flex-grow: 1;
}

.leftBorder {
  border-left: solid 1px lightgray;
}

.overflowHidden {
  overflow: hidden
}

.List {
  background-color: lightgray
}

.ListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px lightgray;
  font-size: 21px;
  cursor: pointer;
  &:hover {
    background-color: azure
  }
}

.tileSelectedMarker {
  background-color: lightgray;
}

// .ListItemEven {
//   background-color: #f8f8f0;
// }

.navigationColumn {
  background-color: lightgray;
}
.relatedColumn {
  background-color: lightgray;

}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

// Different column widths for various screen sizes.
@media screen
and (min-width: 1450px) {
  .mainTwo {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }

  .navigationColumn {
    display: flex;
    flex-direction: column
  }

  .blankLeftColumn{
    width: 10%
  }

  .navigationColumn {
    width: 10%
  }

  .headerBar {
    width: 75%
  }
  .homeColumn {
    width: 75%
  }
  .contentColumn {
    width: 75%
  }

  .relatedColumn {
    width: 15%
  }
  .homeRightColumn {
    width: 15%
  }

  .blankRightColumn{
    width: 10%
  }

  .about {
    margin-left: 20px;
  }

  .titleAndSearch {
    display: flex;
  }
}

@media screen
and (max-width: 1450px)
and (min-width: 768px) {
  .mainTwo {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }

  .navigationColumn {
    display: flex;
    flex-direction: column
  }

  .blankLeftColumn{
    width: 10%
  }

  .navigationColumn {
    width: 10%
  }

  .headerBar {
    width: 75%
  }
  .homeColumn {
    width: 75%
  }
  .contentColumn {
    width: 75%
  }

  .relatedColumn {
    width: 15%
  }
  .homeRightColumn {
    width: 15%
  }

  .blankRightColumn{
    width: 5%
  }

  .about {
    margin-left: 20px;
  }

  .titleAndSearch {
    display: flex;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .mainTwo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .navigationColumn {
    display: flex;
    flex-direction: row;
  }

  .blankLeftColumn{
    width: 0%
  }

  .navigationColumn {
    width: 100%
  }

  .headerBar {
    width: 90%
  }
  .homeColumn {
    width: 100%
  }
  .contentColumn {
    width: 100%
  }

  .relatedColumn {
    width: 0%
  }
  .homeRightColumn {
    width: 0%
  }

  .blankRightColumn{
    width: 0%
  }

  .about {
    width: 90%;
    margin-left: 10px;
  }

  .titleAndSearch {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .mainTwo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .blankLeftColumn{
    width: 0%
  }

  .navigationColumn {
    display: flex;
    flex-direction: row
  }

  .blankLeftColumn{
    width: 0%
  }

  .navigationColumn {
    width: 100%
  }

  .headerBar {
    width: 97%
  }
  .homeColumn {
    width: 100%
  }
  .contentColumn {
    width: 100%
  }

  .relatedColumn {
    width: 0%
  }
  .homeRightColumn {
    width: 0%
  }

  .blankRightColumn{
    width: 0%
  }

  .about {
    width: 90%;
    margin-left: 10px;
  }

  .titleAndSearch {
    display: flex;
    flex-direction: column;
  }
}
