@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 250px;
  height: 32px;
  margin: 10px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.search input { text-indent: 32px;}
.search .fa-search {
  margin: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
